flows_toa.json
[{"id":"338b4c93.f49ae4","type":"tab","label":"Luci","disabled":false,"info":""},{"id":"fe9b4fc9.c0675","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1104ab98.8e0804","type":"serial-port","z":"","serialport":"/dev/ttyUSB2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"975d005e.f3b5b","type":"mqtt-broker","z":"","name":"toa","broker":"toa.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"99f02533.730fe8","type":"telegram bot","z":"","botname":"Toa2018_bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"1c5b21aa.290d6e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"232cee77.8812c2","type":"ui_group","z":"","name":"Default","tab":"305b0d6f.be4322","disp":true,"width":"6","collapse":false},{"id":"305b0d6f.be4322","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"d19743a9.9b426","type":"ui_group","name":"Group 1","tab":"305b0d6f.be4322","order":1,"disp":true,"width":6},{"id":"2f8e1619.11518a","type":"chatbot-telegram-node","z":"","botname":"Toa2018_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"782761a5.e8727","type":"inject","z":"338b4c93.f49ae4","name":"On","topic":"","payload":"[255,1,1,13]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":240,"wires":[["1aa18669.7708da"]]},{"id":"1aa18669.7708da","type":"serial out","z":"338b4c93.f49ae4","name":"RS485-SX","serial":"1104ab98.8e0804","x":570,"y":320,"wires":[]},{"id":"ca21d851.765908","type":"inject","z":"338b4c93.f49ae4","name":"Off","topic":"","payload":"[255,1,0,13]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":291,"y":284,"wires":[["1aa18669.7708da"]]},{"id":"8bd4f580.696698","type":"mqtt in","z":"338b4c93.f49ae4","name":"Relays","topic":"toa/light/+/setval","qos":"2","broker":"975d005e.f3b5b","x":90,"y":340,"wires":[["e537de19.e8d99"]]},{"id":"e537de19.e8d99","type":"function","z":"338b4c93.f49ae4","name":"Event to buffer","func":"light_state=global.get('light_state');\n\nstate=msg.payload;\nif (state!=\"0\") state=\"1\";\ntopic=msg.topic\nid=parseInt(topic.split(\"/\")[2]);\n\nlight_state[id]=state\nglobal.set('light_state',light_state);\n\nmsg.payload=new Buffer([255,id+1,state,13]);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["1aa18669.7708da"]]},{"id":"5ee9681d.d124c8","type":"mqtt out","z":"338b4c93.f49ae4","name":"","topic":"","qos":"","retain":"","broker":"975d005e.f3b5b","x":590,"y":420,"wires":[]},{"id":"66a70259.e2a28c","type":"inject","z":"338b4c93.f49ae4","name":"","topic":"toa/cm3panel","payload":"{\"cmd\":\"clock_off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["5ee9681d.d124c8"]]},{"id":"a22db219.f8b7c","type":"inject","z":"338b4c93.f49ae4","name":"","topic":"toa/cm3panel","payload":"{\"cmd\":\"clock_on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":480,"wires":[["5ee9681d.d124c8"]]},{"id":"523e5578.058b3c","type":"mqtt out","z":"338b4c93.f49ae4","name":"","topic":"toa/cm3panel","qos":"","retain":"","broker":"975d005e.f3b5b","x":760,"y":800,"wires":[]},{"id":"730c5f1c.1090d","type":"function","z":"338b4c93.f49ae4","name":"Telegram2mqtt","func":"content=msg.payload[\"content\"];\nmsg.payload={\"cmd\":\"message\",\"value\":content}\nnode.status({text:content});\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":800,"wires":[["523e5578.058b3c"]]},{"id":"88c05b75.9ac6e8","type":"inject","z":"338b4c93.f49ae4","name":"","topic":"","payload":"Un messaggio qualsiasi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196,"y":998,"wires":[["920bd80f.8ed2a8"]]},{"id":"920bd80f.8ed2a8","type":"play audio","z":"338b4c93.f49ae4","name":"","voice":"0","x":591,"y":1001,"wires":[]},{"id":"4ea0e7a9.addbd8","type":"inject","z":"338b4c93.f49ae4","name":"All ON","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":677,"wires":[["6b2b1676.d7e068"]]},{"id":"bb67e0b8.8002c","type":"mqtt out","z":"338b4c93.f49ae4","name":"","topic":"","qos":"","retain":"","broker":"975d005e.f3b5b","x":578,"y":677,"wires":[]},{"id":"6b2b1676.d7e068","type":"function","z":"338b4c93.f49ae4","name":"sendLoop","func":"var outputMsgs = [];\n\nfor (a=0;a<=15;a++) {\n    outputMsgs.push({payload:msg.payload,topic:\"toa/light/\" + a + \"/setval\"});\n}\n\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"x":298,"y":677,"wires":[["bb67e0b8.8002c"]]},{"id":"115bbb43.838bc5","type":"inject","z":"338b4c93.f49ae4","name":"All OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":737,"wires":[["6b2b1676.d7e068"]]},{"id":"c22d451b.d0c6f8","type":"inject","z":"338b4c93.f49ae4","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["6e79d8a.7d43c28"]]},{"id":"6e79d8a.7d43c28","type":"function","z":"338b4c93.f49ae4","name":"LightInit","func":"var light_state = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\nvar outputMsgs = [];\n\nglobal.set('light_state',light_state);\n\nfor (i=0;i<light_state.length;i++) {\n    outputMsgs.push({payload:light_state[i],topic:\"toa/light/\" + i + \"/setval\"});\n}\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["b28e981b.df71c8"]]},{"id":"b28e981b.df71c8","type":"mqtt out","z":"338b4c93.f49ae4","name":"","topic":"","qos":"","retain":"","broker":"975d005e.f3b5b","x":410,"y":60,"wires":[]},{"id":"d1ad26e6.d33258","type":"mqtt in","z":"338b4c93.f49ae4","name":"getval","topic":"toa/light/+/getval","qos":"2","broker":"975d005e.f3b5b","x":90,"y":140,"wires":[["f6e3fd66.cd5c1"]]},{"id":"f6e3fd66.cd5c1","type":"function","z":"338b4c93.f49ae4","name":"currentval","func":"light_state=global.get('light_state');\ntopic=msg.topic\nid=parseInt(topic.split(\"/\")[2]);\nmsg.payload=light_state[id];\nmsg.topic=\"toa/light/\" + id + \"/currentval\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["f6107c38.955cc"]]},{"id":"f6107c38.955cc","type":"mqtt out","z":"338b4c93.f49ae4","name":"","topic":"","qos":"","retain":"","broker":"975d005e.f3b5b","x":410,"y":140,"wires":[]},{"id":"f9ec12c8.e62c7","type":"inject","z":"338b4c93.f49ae4","name":"Golden bridge","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"goldenbridge.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["5ee9681d.d124c8"]]},{"id":"e7216a89.c0f438","type":"inject","z":"338b4c93.f49ae4","name":"Skyline","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"skyline.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":580,"wires":[["5ee9681d.d124c8"]]},{"id":"a197d2a7.ddd9c","type":"inject","z":"338b4c93.f49ae4","name":"Singapore","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"singapore.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"240","x":310,"y":620,"wires":[["5ee9681d.d124c8"]]},{"id":"ac894c11.d2cee","type":"chatbot-telegram-receive","z":"338b4c93.f49ae4","bot":"2f8e1619.11518a","botProduction":"","x":150,"y":820,"wires":[["e18300b8.39429"]]},{"id":"e18300b8.39429","type":"chatbot-message","z":"338b4c93.f49ae4","name":"Just a name","message":[{"message":"Ciao Jos"}],"answer":false,"track":false,"x":360,"y":880,"wires":[["779acd1e.a36c54"]]},{"id":"779acd1e.a36c54","type":"chatbot-telegram-send","z":"338b4c93.f49ae4","bot":"2f8e1619.11518a","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":580,"y":900,"wires":[]},{"id":"88128599.66a988","type":"inject","z":"fe9b4fc9.c0675","name":"","topic":"Manda Ciao","payload":"Ciao","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["d4331ddf.75d02"]]},{"id":"486137c0.148598","type":"debug","z":"fe9b4fc9.c0675","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":480,"wires":[]},{"id":"d4331ddf.75d02","type":"function","z":"fe9b4fc9.c0675","name":"","func":"if (msg.payload==\"Ciao\") \n    msg.payload=\"Hi\"; \nelse\n    msg.payload=\"Bye Bye\"\nreturn msg;","outputs":4,"noerr":0,"x":460,"y":120,"wires":[["9bd1cd11.76cfe"],[],[],[]]},{"id":"87263b81.760c98","type":"inject","z":"fe9b4fc9.c0675","name":"","topic":"Manda Ciao","payload":"Prova","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["d4331ddf.75d02"]]},{"id":"9bd1cd11.76cfe","type":"serial out","z":"fe9b4fc9.c0675","name":"","serial":"1104ab98.8e0804","x":750,"y":220,"wires":[]},{"id":"f9c24f3f.84f25","type":"ui_button","z":"fe9b4fc9.c0675","name":"","group":"232cee77.8812c2","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":540,"wires":[["486137c0.148598","cb574a04.b71d98"]]},{"id":"cb574a04.b71d98","type":"function","z":"fe9b4fc9.c0675","name":"","func":"msg.payload=\"Ciao\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":620,"wires":[["825f2d11.1f25d"]]},{"id":"ea3c38d9.613128","type":"ui_gauge","z":"fe9b4fc9.c0675","name":"","group":"d19743a9.9b426","order":0,"width":0,"height":0,"gtype":"donut","title":"Tensione","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":720,"wires":[]},{"id":"cde7f24c.37f12","type":"inject","z":"fe9b4fc9.c0675","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":700,"wires":[["ea3c38d9.613128","b56b962e.934718"]]},{"id":"87a5b002.da485","type":"inject","z":"fe9b4fc9.c0675","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["ea3c38d9.613128"]]},{"id":"a1c2c3b0.bf226","type":"inject","z":"fe9b4fc9.c0675","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":740,"wires":[["ea3c38d9.613128"]]},{"id":"825f2d11.1f25d","type":"ui_audio","z":"fe9b4fc9.c0675","name":"","group":"232cee77.8812c2","voice":"","always":"","x":740,"y":660,"wires":[]},{"id":"b56b962e.934718","type":"ui_template","z":"fe9b4fc9.c0675","group":"232cee77.8812c2","name":"","order":0,"width":0,"height":0,"format":"Ciao Sergio\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":900,"wires":[[]]},{"id":"9ea6c5e5.660798","type":"ui_template","z":"338b4c93.f49ae4","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1100,"y":580,"wires":[[]]}]